@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

h1 {
  position: fixed;
  top: 39%;
  left: 20%;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: calc(6px + 5vh);
  color: #a9afff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  margin: 0;
}

